<div
  id={{@id}}
  class="ember-basic-dropdown-content{{if @renderInPlace " ember-basic-dropdown-content--in-place"}}{{if @hPosition (concat " ember-basic-dropdown-content--" @hPosition)}}{{if @vPosition (concat " ember-basic-dropdown-content--" @vPosition)}}"
  ...attributes
>
  {{yield}}
</div>