{{! template-lint-disable no-inline-styles }}
{{#if @dropdown.isOpen}}
  <div class="ember-basic-dropdown-content-wormhole-origin">
    {{#maybe-in-element this.destinationElement @renderInPlace}}
      {{#if @overlay}}
        <div class="ember-basic-dropdown-overlay"></div>
      {{/if}}
      <BasicDropdownContentInner
        @id={{@id}}
        @dropdown={{@dropdown}}
        @renderInPlace={{@renderInPlace}}
        @hPosition={{@hPosition}}
        @vPosition={{@vPosition}}
        @onFocusIn={{@onFocusIn}}
        @onFocusOut={{@onFocusOut}}
        @onMouseEnter={{@onMouseEnter}}
        @onMouseLeave={{@onMouseLeave}}
        @onKeyDown={{@onKeyDown}}
        @preventScroll={{@preventScroll}}
        ...attributes
      >
        {{yield}}
      </BasicDropdownContentInner>
    {{/maybe-in-element}}
  </div>
{{else}}
  <div
    id={{@dropdownId}}
    class="ember-basic-dropdown-content-placeholder"
    style="display: none;"
  >
  </div>
{{/if}}